*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: rgb(80, 0, 42);
    font-family: Verdana, Genava, Tahoma, sans-serif;

}

.gif {
    height: 100%;
    width: 100%;
}

h2 {
    text-align: center;
    font-size: 1.5em;
    color: hotpink;
    margin: 15px 0;
}
h3 {
    text-align: center;
    font-size: 2em;
    color: hotpink;
    margin: 15px 0;
}
h4 {
    text-align: center;
    font-size: 1.5em;
    color: hotpink;
    margin: 15px 0;
}